<launch>
    <arg name="points_src" default="/points_raw" /> <!-- PointCloud source topic-->

    <node name="autoware_image_rectifier1" pkg="image_processor" type="image_rectifier" ns="usb_cam1" output="screen">
        <param name="image_src" value="/image_raw" />
        <param name="camera_info_src" value="/camera_info" />
    </node>
    <node name="autoware_image_rectifier2" pkg="image_processor" type="image_rectifier" ns="usb_cam2" output="screen">
        <param name="image_src" value="/image_raw" />
        <param name="camera_info_src" value="/camera_info" />
    </node>
    <node name="autoware_image_rectifier3" pkg="image_processor" type="image_rectifier" ns="usb_cam3" output="screen">
        <param name="image_src" value="/image_raw" />
        <param name="camera_info_src" value="/camera_info" />
    </node>
    <node name="autoware_image_rectifier4" pkg="image_processor" type="image_rectifier" ns="usb_cam4" output="screen">
        <param name="image_src" value="/image_raw" />
        <param name="camera_info_src" value="/camera_info" />
    </node>
    <node name="autoware_image_rectifier5" pkg="image_processor" type="image_rectifier" ns="usb_cam5" output="screen">
        <param name="image_src" value="/image_raw" />
        <param name="camera_info_src" value="/camera_info" />
    </node>
    <node name="autoware_image_rectifier6" pkg="image_processor" type="image_rectifier" ns="usb_cam6" output="screen">
        <param name="image_src" value="/image_raw" />
        <param name="camera_info_src" value="/camera_info" />
    </node>


    <node name="pixel_cloud_fusion_01" pkg="my_pixel_cloud_fusion" type="my_pixel_cloud_fusion" output="screen">
        <param name="points_src" value="$(arg points_src)" />
        <param name="fused_output_topic" value="/my_points_fused" />

        <param name="image_src1" value="/usb_cam1/image_rectified" />
        <param name="camera_info_src1" value="/usb_cam1/camera_info" />
        <param name="image_src2" value="/usb_cam2/image_rectified" />
        <param name="camera_info_src2" value="/usb_cam2/camera_info" />
        <param name="image_src3" value="/usb_cam3/image_rectified" />
        <param name="camera_info_src3" value="/usb_cam3/camera_info" />
        <param name="image_src4" value="/usb_cam4/image_rectified" />
        <param name="camera_info_src4" value="/usb_cam4/camera_info" />
        <param name="image_src5" value="/usb_cam5/image_rectified" />
        <param name="camera_info_src5" value="/usb_cam5/camera_info" />
        <param name="image_src6" value="/usb_cam6/image_rectified" />
        <param name="camera_info_src6" value="/usb_cam6/camera_info" />
    </node>
</launch>
